body{
    background: url(../img/fondo.png);
    margin: 0;
    padding: 0;
    background: #282c34;
    height: 100vh;
    overflow: hidden;
}

/*login*/
.contLogin{
    position: absolute;
    width: 353px;
    height: 400px;
    background: radial-gradient(71.63% 72.21% at 75.07% 28.37%, #9FE8FF 0%, #FAE8F6 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 4px 7px 11px 2px rgba(0, 0, 0, 0.25);
    top: 25% !important;
    left: 40%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px 50px;
}

.contLogin h1{
    text-align: center;
}
.contLogin input{
    position: absolute;
    width: 192px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}



.contLogin button{
    position: absolute;
    width: 128px;
    height: 39px;
    margin-left: 50px;
    margin-top: 100px;
    padding: 5px 5px;
    background: #000000;
    border-radius: 17px;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}

/*register*/
.contRegister{
    position: absolute;
    width: 353px;
    height: 550px;
    background: radial-gradient(71.63% 72.21% at 75.07% 28.37%, #9FE8FF 0%, #FAE8F6 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 4px 7px 11px 2px rgba(0, 0, 0, 0.25);
    top: 25% !important;
    left: 40%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px 50px;
    margin-top: -120px;
}

.contRegister h3{
    margin: 30px;
}

.contRegister input{
    position: absolute;
    width: 192px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-top: -30px;
    margin-left: 15px;
}

.contRegister button{
    position: absolute;
    width: 128px;
    height: 39px;
    margin-left: 55px;
    margin-top: 50px;
    padding: 5px 5px;
    background: #000000;
    border-radius: 17px;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}

/*profile*/
.container{
    position: absolute;
    width: 700px;
    height: auto;
    background: radial-gradient(71.63% 72.21% at 69.69% 28.37%, #9FE8FF 0%, #FAE8F6 100%);
    box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.25);
    top: 4% !important;
    left: 26%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 50px 30px;
  }

  .functionalities button{
    position: absolute;
    width: 150px;
    height: 25px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 25px;
  }

  .functionalities .delete{
      margin-left: 300px;
  }

  .functionalities .add{
    margin-left: 35px;
}

.functionalities .btnCe1{
    margin-left: 450px;
}

.functionalities .update{
    margin-left: 200px;
}

.image{
    position: absolute;
    width: 227px;
    height: 227px;
    background: #FFFFFF;
    position: absolute;
    border-radius: 100%;
    display: block;
    position: relative;
    margin-left: 200px;
}
  
.profile h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
}
  
.profile input{
    width: 25%;
    margin-bottom: 20px;
}
  
.profile input[type="text"],
.profile input[type="email"]{
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
  
  